<ion-view title="Avaliação">
    <ion-content padding="'true'" class="has-header">
        <h4>Nome do local</h4>
        <form class="list">
            <div>
                <p>
                    <strong>Quesito 1:</strong>
                </p>
            </div>
            <ion-item class="range range-positive">
                <input type="range" value="5" min="0" max="5">
            </ion-item>
            <div>
                <p>
                    <strong>Quesito 2:</strong>
                </p>
            </div>
            <ion-item class="range range-positive">
                <input type="range" value="5" min="0" max="5">
            </ion-item>
        </form>
    </ion-content>
</ion-view>