<ion-view title="{{place.name}}">
    <ion-content padding="'true'" class="has-header">        
        <ion-list class="list-rate-type">
            <ion-item class="item" ng-repeat="rateType in rateTypes">
                <strong>{{rateType.name}}:</strong>
                <rating ng-model="rateType.rating" max="5"></rating>
            </ion-item>
        </ion-list>
        <button ng-click="doRate();" class="button button-positive button-block">Avaliar</button>
    </ion-content>
</ion-view>