<ion-view title="Login">
    <ion-content padding="'true'" class="has-header">
        <div class="logo-top">
            <img src="img/9pdEXYiCRlCJlPPL7wgM_logo.png">
        </div>
        <form class="list" ng-submit="doLogin()">
            <ion-list>
                <label class="item item-input" name="txtEmail">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Digite seu e-mail" ng-model="loginData.userName">
                </label>
                <label class="item item-input" name="txtPassword">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Digite sua senha" ng-model="loginData.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-positive button-block" type="submit">Entrar</button>
        </form>
        <!--<a href="#" onclick="" class="button button-positive button-block ">Entrar</a>-->
        <a href="#/signup" class="button button-positive button-clear button-block ">ou Cadastre-se</a>
    </ion-content>
</ion-view>