<ion-view title="Login">
    <ion-content padding="'true'" class="has-header">
        <img src="img/9pdEXYiCRlCJlPPL7wgM_logo.png" width="50%" height="auto" style="width: 50%; height: auto;">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="txtEmail">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Digite seu e-mail">
                </label>
                <label class="item item-input" name="txtPassword">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Digite sua senha">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
        </form>
        <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" class="button button-positive button-block ">Entrar</a>
        <a href="#/signup" class="button button-positive button-clear button-block ">ou Cadastre-se</a>
    </ion-content>
</ion-view>