<ion-view title="Perfil"   cache-view="false">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list" ng-submit="doUpdateAccount()">
            <label class="item item-input" name="txtName">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Digite seu nome" ng-model="account.name">
            </label>
            <label class="item item-input" name="txtLastName">
                <span class="input-label">Sobrenome</span>
                <input type="text" placeholder="Digite seu sobrenome" ng-model="account.lastName">
            </label>
            <label class="item item-input" name="txtEmail">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Digite seu e-mail" ng-model="account.email">
            </label>
            <label class="item item-input" name="txtPassword">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="Digite sua senha" ng-model="account.password">
            </label>
            <button class="button button-positive button-block  ">Salvar</button>
        </form>
    </ion-content>
</ion-view>