<ion-view title="Registrar">
    <ion-content padding="'true'" class="has-header">
        <img src="img/osaxOjOQYixwF9IQFIKQ_logo.png" width="50%" height="auto" style="width: 50%; height: auto;">
        <form class="list">
            <label class="item item-input" name="txtName">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Digite seu nome">
            </label>
            <label class="item item-input" name="txtLastName">
                <span class="input-label">Sobrenome</span>
                <input type="text" placeholder="Digite seu sobrenome">
            </label>
            <label class="item item-input" name="txtEmail">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Digite seu e-mail">
            </label>
            <label class="item item-input" name="txtPassword">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="Digite sua senha">
            </label>            
            <button class="button button-calm button-block ">Cadastrar</button>
        </form>
    </ion-content>
</ion-view>