@model Accessibilita.Data.Entities.Place[]

@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/1-col-portfolio.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-2">
                <img src="~/Content/Images/Statistics.png" />
            </div>
            <div class="col-lg-10">
                <h1 class="page-header">
                    Confira os Destaques nas Avaliações
                    <br />
                    <small>Os estabelecimentos mais bem avaliados!</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Project One -->
        @if (Model.Length > 0)
        {
            for (int i = 0; i < Model.Length; i++)
            {
                <div class="row">
                    <div class="col-md-7">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3>@Model[i].Name</h3>

                        <p>@Model[i].Description</p>
                    </div>
                </div>
        <!-- /.row -->
                <hr>
            }
        }
        else
        {
            <h1> No momento não existem estabelecimentos em destaque <strong>:(</strong></h1>
        }
        <!-- Footer -->
        <footer></footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
