div.logo-top {
    text-align: center;
}

    div.logo-top img {
        width: 50%;
        height: auto;
    }

.list-place .item {
    margin-bottom: 10px;
}

.list-rate-type .item {
    margin-bottom: 10px;
    border: none;
}

    .list-rate-type .item strong {
        padding: 5px 10px;
    }

    .list-rate-type .item ul.rating li i {
        font-size: 40px;
    }
